// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$custom-blue-black : #00586B;
$blue-white: #DEF3F2;
$custom-pink: #FFEEFB;
$custom-green-button: #06C4BE;
$custom-grey: #DCE5E5;
