// Import page-specific CSS files here.
@import "home";

body {
  font-family: $lato;
  background-color: white;
}
h1 {
  color: $custom-blue-black;
}
input::placeholder {
  text-align: center;
  color: red;
}
h2 {
  color: $custom-green-button
}