.vector-img {
  text-align: center;
  margin-top: 22px;
  color: $custom-green-button;
}

.motivation-quote {
  font-weight: bold;
  font-size: 16px;
  width: 290px;
  text-align: center;
  margin: 60px auto;
}

.cards-motivation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-motivation{
  margin: 20px;
  padding: 20px;
  width: 500px;
  height: 100px;
  min-height: 100px;
  display: grid;
  grid-template-rows: 20px 50px 1fr 50px;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.card__apply {
  padding-top: 40px;
  padding-left: 200px;
  align-self: center;
}

.card-4 {
  background: radial-gradient($custom-green-button, #58d5c9);
}

.card__title{
  font-size: 20px;
  color :white
}

.iconify-biceps {
  height: 120px;
  padding: 20px;
  width: 100%;
}

.text-article {
 color : $custom-blue-black;
 text-align: center;
 padding: 10px;
 margin: 0 auto;
}

.card-5 {
  padding-bottom: 20px;
  background: radial-gradient($custom-green-button, #58d5c9);
}

.iconify-citation {
  color: white;
  width: 40px;
  height: 40px;
  grid-column: 3;
  grid-row: 2;
  margin-left: 20px;
}
