.conso-container {
  height: 100vh;
  background-color: white;
}
.cig-img {
  text-align: center;
  margin-top: 22px;
}
.conso-asking {
  font-weight: bold;
  font-size: 16px;
  width: 290px;
  text-align: center;
  margin: 60px auto;
}