<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="header-modal">
        <button type="button" class="close-modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="body-modal">
        <p class="modal-text">Pour commencer à créditer votre cagnotte, veuillez renseigner vos coordonnées bancaires </p>
      </div>
      <div class="footer-modal">
        <%= link_to 'Ok', profile_bank_path, class:"green-btn modal-button"%>
      </div>
    </div>
  </div>
</div>