<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="tenor-gif-embed" data-postid="17696690" data-share-method="host" data-aspect-ratio="1" data-width="100%"><a href="https://tenor.com/view/just-do-it-do-it-flames-fire-shia-labeouf-gif-17696690">Just Do It Flames GIF</a>from <a href="https://tenor.com/search/just+do+it-gifs">Just Do It GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
    </div>
  </div>
</div>
