<div class="container">

    <div class="back-arrow">
      <%= link_to 'Back', onclick: "window.history.back();", id: "icone-arrow" do %>
        <i class="iconify" data-icon="akar-icons:arrow-left"></i>
      <% end %>
    </div>

    <div class="my-inscription-h1" >
      <h1>Connexion</h1>
    </div>

    <div class="my-profile-p" >
      <p>Connectez-vous simplement</p>
    </div>

    <div class ="icone-profile" style="text-align: center;">
      <span class="iconify" data-icon="carbon:user-avatar"></span>
    </div>

    <div class="btn-apple">
      <span class="iconify" data-icon="ant-design:apple-filled" style="color: white; height: 26px; width: 22px"></span>
      <p> Continuer avec Apple</p>
    </div>

    <div class="btn-facebook">
      <span class="iconify" data-icon="akar-icons:facebook-fill" style="color: white;"></span>
      <p> Continuer avec Facebook</p>
    </div>

    <div class="btn-google">
      <span class="iconify" data-icon="flat-color-icons:google" style="color: white;"></span>
      <p> Continuer avec Google</p>
    </div>

    <div class="btn-mail">
      <span class="iconify" data-icon="carbon:email" style="color: white;"></span>
      <a class="continue-with-email"><%= link_to 'Continuer avec mon email', new_user_registration_path, class:"continue-with-email" %>
    </div>

</div>
