<div class="backgorund-img-result" style="background-image: url('assets/thailande.jpeg')"></div>
<div class="card-result">
  <p class="result-sentence">Un peu de volonté pour un projet<br>qui te tient à coeur :</p>
  <h2 class="result-title"> Voyage en Thailand</h2>
  <div class="arrow">
    <img src="assets/arrow" alt="">
  </div>
  <p class="budget">1500€</p>
  <p class="result-sentence">Dans 150 jours, tu auras économisé 1500€ en<br>ayant pas fumé 150 paquets soit 3000 cigarettes</p>
</div>

<div class="footer_card d-flex align-items-center">
  <div class="logo">
    <img style="height : 60px" src="/assets/Logo.png">
  </div>
  <div class="btn-continuer">
    <%= link_to "Continuer", dashboard_path, class: "text-decoration-none"%>
  </div>
</div>
