<div class="conso-container">
  <div class="header-pink">
    <h1 class="consommation-title">Consommation</h1>
  </div>
  <div class="cig-img">
    <%= image_tag("cigarette.png", style: {height: ": 100px"})%>
  </div>
  <p class="conso-asking">Quelle est votre consommation de cigarettes ?</p>
  <%= render "shared/consommation_form" %>
</div>
