<div class="header-dashboard">
  <h2> Philippine</h2>
  <p id="Avatar"> Avatar</p>
  <p>15/06/2022</p>
  <p><strong>Bravo !</strong> plus de "39" jours avant votre xxxx</p>
</div>

<div class="card-recap">
  <h2>Objectif</h2>
  <p id="days-left">J-39</p>

  <div class="pot-growth">

    <div class="actual">
      <p id="actual-pot">670€</p>
      <p>dans ma cagnotte</p>
    </div>

    <p>bar d'avancement</p>

    <div class="final">
      <p id="final-pot">1500€</p>
      <p>montant final</p>
    </div>
  </div>
</div>

<div class="cards">
  <div class="card-dashboard">
    <div class="icon-bg">
      <span class="iconify" data-icon="arcticons:money-manager"></span>
    </div>
    <p>Ma cagnotte</p>
  </div>

  <div class="card-dashboard">
    <div class="icon-bg">
     <span class="iconify" data-icon="ant-design:heart-filled"></span>
    </div>
    <p>Suivi santé</p>
  </div>

  <div class="card-dashboard">
    <div class="icon-bg">
      <span class="iconify" data-icon="twemoji:flexed-biceps"></span>
    </div>
    <p>Motivation</p>
  </div>

  <div class="card-dashboard">
    <div class="icon-bg">
      <span class="iconify" data-icon="iwwa:consumption-o"></span>
    </div>
    <p>Renseigner ma conso</p>
  </div>
</div>
