  <div class="header-health">
    <span class="iconify" data-icon="carbon:user-avatar"></span>
    <p>Mon suivi</p>
  </div>

<div class="container">
  <div class="plant">
    <%= image_tag "fleur.png" %>
  </div>
</div>
