<div class="conso-container">
  <div class="header-pink">
    <h1 class= "consommation-title">Motivation</h1>
  </div>

  <div class="vector-img">
    <%= image_tag "vector.png" %>
  </div>

  <p class="motivation-quote">Citations motivantes pour arrêter de fumer</p>

   <%= image_tag "will-smith-wisdom-quote.jpg" %>

  </div>

<div class= cards-motivation>
    <div class="card-motivation card-4">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
        <h2 class="card__title">Quis nostrud exercitation ullamco laboris nisi.</h2>
        <p class="card__apply">En savoir <span class="iconify" data-icon="ant-design:plus-circle-outlined" style="color: 00586B;"></span></p>
      </div>
    </div>
</div>
