<div class="conso-container">
  <div class="header-pink-motivation">
    <h1 class="consommation-title">Motivation</h1>
  </div>

  <div class="container">

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <i class="iconify iconify-biceps" data-icon="noto-v1:flexed-biceps"></i>

    <div class="text-article"><h4>Une quantité d'articles pour rester motivé à bloc !</h1></div>


    <div class= "cards-motivation">
        <div class="card-motivation card-4">
            <h2 class="card__title">Citation du jour !</h2>
            <span class="iconify iconify-citation" data-icon="icons8:idea" style="color: white;"></span>
        </div>
        <div class="card-motivation card-4">
            <h2 class="card__title">dededeasculaire</h2>
            <p class="card__apply">En savoir <span class="iconify" data-icon="ant-design:plus-circle-outlined" style="color: 00586B;"></span></p>
        </div>

        <div class="card-motivation card-4">
            <h2 class="card__title">Tu gagnes en ...</h2>
            <p class="card__apply">En savoir <span class="iconify" data-icon="ant-design:plus-circle-outlined" style="color: 00586B;"></span></p>
        </div>

        <div class="card-motivation card-4">
            <h2 class="card__title">Ouais trop cool</h2>
            <p class="card__apply">En savoir <span class="iconify" data-icon="ant-design:plus-circle-outlined" style="color: 00586B;"></span></p>
        </div>
        <div class="card-motivation card-4">
            <h2 class="card__title">Ouais trop cool</h2>
            <p class="card__apply">En savoir <span class="iconify" data-icon="ant-design:plus-circle-outlined" style="color: 00586B;"></span></p>
        </div>
        <div class="card-motivation card-4">
            <h2 class="card__title">Ouais trop cool</h2>
            <p class="card__apply">En savoir <span class="iconify" data-icon="ant-design:plus-circle-outlined" style="color: 00586B;"></span></p>
        </div>
        <br>
        <br><br>

    </div>
  </div>
</div>
