.btn-bank-info {
  color: $custom-blue-black;
  width: 300px;
  height: 55px;
  border-radius: 8px;
  background: #DCE5E5;
  transition: background 0.3s ease;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px auto;
}

.green-btn {
  color: white;
  width: 230px;
  height: 35px;
  border-radius: 8px;
  background: $custom-green-button;
  transition: background 0.3s ease;
  margin: 0 auto;
}

.btn-continuer {
  background-color: $custom-pink;
  width: 130px;
  height: 38px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  p {
    color: $custom-blue-black;
    text-decoration: none;
    font-size: 13px;
    padding-top: 11px;
  }
}

