// Card principal

.card-recap{
  margin: 0 40px 40px 40px;
  box-shadow: 2px 2px 2px lightgray;
  border: lightgray 1px solid;
  text-align: center;
  border-radius: 8px;
  p{
    font-size: 10px;
    color: #59C1BD;
    padding-left: 10px;
  }
  h2{
    padding-top: 25px;
    color: #00586B;
    font-size: 25px;
  }
}

.pot-growth {
  display: flex;
  justify-content: space-between;
}

#days-left {
  font-size: 18px;
  color: #59C1BD;
}

#actual-pot {
  font-size: 20px;
  color: #59C1BD;
  margin-bottom: -4px;
}

.final p{
 color: #00586B;
}

#final-pot {
  font-size: 20px;
  color: #00586B;
  margin-bottom: -4px;
  padding-right: 10px;
}

// Cards features

.cards{
    display: grid;
    margin: -21px 63px 80px 63px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 24px;
    a{
      color: black;
    }
  }

.card-dashboard{
  box-shadow: 2px 2px 2px lightgray;
  border: lightgray 1px solid;
  border-radius: 12px;
  width: 120px;
  height: 125px;
  text-decoration: none;
  p{
    padding: 85px 10px 10px 10px;
    text-align: center;
    font-size: 13px;
    color: $custom-blue-black
  }

}

.icon-bg {
  position: absolute;
  background-color: #06C4BE;
  width: 77px;
  height: 66px;
  border-radius: 20px;
  margin-left: 21px;
  margin-top:15px;
  .iconify {
    position: relative;
    top: 10px;
    left: 17px;
    font-size: 40px;
  }
}


.pot-card{
  background-color: white;
  margin-bottom: 20px;
  text-align: center;
  h1{
    font-size: 30px;
    color: #00586B;
    font-weight: bold;
    margin-bottom: 16px;
  }
  h2{
    font-size: 24px;
    color: #00586B;
    margin-bottom: 16px;
  }
  #pie-chart {
    margin: 10px 40px;
  }
}

.savings-card{
  background-color: rgba($color: #59C1BD, $alpha: 0.15);
  margin-bottom: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 24px;
  h2{
    font-size: 24px;
    font-weight: bold;
    color: #00586B;
    text-align: center;
    margin-bottom: 16px;
  }
  .cigarette{
    margin-left: 2px;
  }
}

.line-chart{
  h2{
    font-size: 24px;
    font-weight: bold;
    color: #00586B;
    text-align: center;
  }
  margin-bottom: 80px;
}

.plant {
margin-bottom: 70px;
}
