#objective_title {
    background-color: #DEF3F2;
    display: block;
    width: 305px;
    height: 55px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #DEF3F2;;
    background-clip: padding-box;
    border-radius: 8px;
    border-color: transparent;
}

#objective_amount {
  background-color: #DEF3F2;
  display: block;
  width: 305px;
  height: 55px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #DEF3F2;;
  background-clip: padding-box;
  border-radius: 8px;
  border-color: transparent;
}

#bank_name {
  background-color: #DEF3F2;
  display: block;
  width: 305px;
  height: 55px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #DEF3F2;;
  background-clip: padding-box;
  border-radius: 8px;
  border-color: transparent;
}

.iban-form {
  background-color: #DEF3F2;
  display: block;
  width: 305px;
  height: 55px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #DEF3F2;;
  background-clip: padding-box;
  border-radius: 8px;
  border-color: transparent;
}
