
.header-dashboard{
  background-color: rgba(89, 193, 190, 0.250);
  padding-top: 1%;
}
.header-dashboard-info{
  margin: 30px;
  h2 {
    font-size: 24px;
    color: #06C4BE;
  }
  p {
    font-size: 15px;
  }
  .iconify {
    font-size: 95px;
    margin-left: 120px;
  }
}
.header-pink {
  height: 170px;
  border-radius: 0 0 50px 50px;
  background-color: $custom-pink;
  display: flex;
  justify-content: center;
  align-items: center;
}
.consommation-title {
  font-weight: bold;
}
