.header-pink {
  height: 170px;
  border-radius: 0 0 50px 50px;
  background-color: $custom-pink;
  display: flex;
  justify-content: center;
  align-items: center;
}
.consommation-title {
  font-weight: bold;
}