.background-home {
  background-image: asset_url("background-home");
  //background-color: #E7C9E0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}
.slogan {
  color: white;
}