.form-control {
  background-color: $blue-white;
  display: block;
  width: 305px;
  height: 55px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: $blue-white;
  background-clip: padding-box;
  border-radius: 8px;
  border-color: transparent;
}
.form-actions {
  display: flex;
  justify-content: center;
}
.form-inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
}
