// SIMPLE_FORM //

.form-control {
  background-color: $blue-white;
  display: block;
  width: 305px;
  height: 55px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: $blue-white;
  background-clip: padding-box;
  border-radius: 8px;
  border-color: transparent;
}
.form-actions {
  display: flex;
  justify-content: center;
  color: white;
}
.form-inputs {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: $custom-blue-black;
}

// SIMPLE_FORM_INSCRIPTION //

.form-inputs-inscription {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  color: $custom-blue-black;
}


// FORM_WITH //
.form-with-control {
  background-color: $blue-white;
  display: block;
  width: 305px;
  height: 55px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: $blue-white;
  background-clip: padding-box;
  border-radius: 8px;
  border-color: transparent;
}
.form-action-with {
  display: flex;
  justify-content: center;

}
.form-input-with {
  display: flex;
  align-items: center;
  flex-direction: column;
}
