.navbar{
  justify-content: space-around;
  background-color: $custom-green-button;
  height: 70px;
  position: fixed;
  width: 100%;
  bottom: 0px;
  padding: 10px 10px 0 10px;
}

.menu{
  height: 100%;
  text-align: center;
  .iconify {
   font-size: 30px;
   color: white;
   opacity: 50%;
   &.active {
    color: white;
    opacity: 100%;
   }
  }

  p{
    font-size: 14px;
    text-decoration: none;
    color: white;
    opacity: 70%;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

a {
  text-decoration: none;
}
