.pot-header {
  background-color: white;
  display: flex;
  align-items: center;
  height: 100px;
  font-size: 24px;
  color: #59C1BD;
  height: 130px;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  a {
    color: white;
  }
 }
