<%# navbar %>
<p>Ma Cagnotte</p>
<img src="/home/greg/code/Sserci/nocig/app/assets/images/pie chart.png" alt="Ma cagnotte">
<div>
<%= current_user.pot %> <p>collectés sur<p><%= current_user.objective_amount %>>
</div>
